
*.log

*.gz

*.log

*.out

*.bbl

*.aux


*.m~

journalSwarmControl/SwarmControlIJRR.log

journalSwarmControl/SwarmControlIJRR.aux

journalSwarmControl/SwarmControlIJRR.synctex.gz



journalSwarmControl/SwarmControlIJRR.pdf

journalSwarmControl/SwarmControlIJRR.blg

journalSwarmControl/SwarmControlIJRR.bbl

RA-L/.DS_Store

RA-L/.DS_Store

.DS_Store

journalSwarmControl/.DS_Store

RA-L/pictures/.DS_Store

journalSwarmControl/pictures/.DS_Store

journalSwarmControl/pictures/.DS_Store

.DS_Store
